{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
          <a href="{% url 'spisok_category' %}" class="link-dark">К категориям!</a>
          <h1>{{ title }}</h1>
        
          <table class="table">
            <thead>
              <tr>
                {% if tovar %}
                <!--  Если товар есть в базе, выведи таблицу  -->
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Цвет</th>
                <th scope="col">Количество</th>
              </tr>
              {% endif %}
            </thead>
            <tbody>
              {% for item in tovar %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>
                  <a href="{{ item.get_absolute_url }}">
                    {{ item.title }}
                  </a>
                </td>
                <td>{{ item.color }}</td>
                <td>
                  {{ item.amount }}
                </td>
              </tr>
              {% empty %}
              <!--  Если в базе нет ни одного товара из этой категории  -->
              <h4>
                Пока что в этом разделе пусто.
                <a href="{% url 'all_tovars' %}" class="list-group-item list-group-item-action list-group-item-primary">
                  Все товары
                </a>
              </h4>
              {% endfor %}
              {% if request.user.is_authenticated %}
              <a href="{% url 'add_tovar' %}">
                Добавить позицию
              </a>
              {% endif %}
            </tbody>
          </table>
          <div class="container-xl">
            <a href="{% url 'delete_category' title.pk %}" class="btn btn-outline-primary"  method="get">
              Удалить категорию
            </a>
          </action>
          </div>
        </div>
    {% endif %}
{% endblock %}